.content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content .textHeader {
  position: relative;
}

.content .movies {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
